{% extends "base.html.twig" %}

{% block content %}
<div id="displayArea" class="container row">
	<form id="changeForm" class="col l4 offset-l4 s12" action="/changetermin/{{vdata.idtermin}}" method="post">
		<h5>Ändern der Daten für Termin {{vdata.idtermin}}</h5>
		<label class="shortinput" for="VDatum">Datum der Veranstaltung:</label>
		<input class="shortinput datepicker no-autoinit" id="VDatum" name="VDatum" type="text" maxlength="10" value="{{vdata.datum}}"/>
		<label class="shorterinput" for="VStart">Startzeit:</label>
		<input class="shorterinput timepicker no-autoinit"id="VStart" name="VStart" type="text" maxlength="8" value="{{vdata.startzeit}}"/>
		<label class="shorterinput" for="VEnde">Endzeit:</label>
		<input class="shorterinput timepicker no-autoinit"id="VEnde" name="VEnde" type="text" maxlength="8" value="{{vdata.endzeit}}"/>
		<input type="submit" value="Ändern" class="submit waves-effect waves-light btn col l4 offset-l4 s12" />
	</form>
</div>
{% endblock %}
