{% extends "base.html.twig" %}

{% block content %}
<div id="displayArea" class="container row">
	<div id="TopBar">
	<div id="currentVeranstalter" class="col l6 s12">Veranstaltungen von {{name[0]}}</div>
	{#<a href="#modal5" class= "col l2 s12 waves-effect waves-light btn modal-trigger">Einladen</a>#}
	<a href="#modal1" class= "col l3 s12 waves-effect waves-light btn modal-trigger">Hinzufügen</a>
	<a href="/logout" class= "col l3 s12 waves-effect waves-light btn">Logout</a>
	</div>
	{% if veranstaltungen %}
	{% for row in veranstaltungen %}
	<div>
		<div class="Veranstaltung col l12 s12" id="{{row.idveranstaltung}}">
			<div class="veranstaltungsname col l4 s12">{{row.idveranstaltung}} - {{ row.vname }}</div>
			<a href="/veranstaltung/{{row.idveranstaltung}}" class= "col l2 s6 waves-effect waves-light btn">Anzeigen</a>
			<a href="/changeveranstaltung/{{row.idveranstaltung}}" class= "col l2 s6 waves-effect waves-light btn">Ändern</a>
			<a href="#modal3" class= "col l2 s6 waves-effect waves-light btn modal-trigger" onclick="addVID(this)">+ Termin</a>
			<form action="/deleteveranstaltung/{{row.idveranstaltung}}" method="post">
				<input name="pid" type="hidden" value="{{id}}"/>
				<input type="submit" value="Löschen" class="submit waves-effect waves-light btn col l2 s6" />
			</form>
		</div>
		{% if row.termine %}
		<table class="col l12 s12">
		<thead>
          <tr>
              <th class="col l2 s4">Datum</th>
              <th class="col l2 s4">Startzeit</th>
			  <th class="col l2 s4">Endzeit</th>
          </tr>
        </thead>
		<tbody>
		{% for row2 in row.termine %}
			<tr>
				{% if row2.datum == "9999-12-31" %}
				<td class="col l2 s4">-</td>
				{% else %}
				<td class="col l2 s4">{{ row2.datum }}</td>
				{% endif %}
				<td class="col l2 s4">{{ row2.startzeit }}</td> 
				<td class="col l2 s4">{{ row2.endzeit }}</td>
				<td class="col l2 s4 buttontable"><a href="/termin/{{row2.idtermin}}" class= "col s12 waves-effect waves-light btn">Anzeigen</a></td>
				<td class="col l2 s4 buttontable"><a href="/changetermin/{{row2.idtermin}}" class= "col s12 waves-effect waves-light btn">Ändern</a></td>
				<td class="col l2 s4 buttontable">
					<form class="tdelete" action="/deletetermin/{{row2.idtermin}}" method="post">
						<input name="pid" type="hidden" value="{{id}}"/>
						<input type="submit" value="Löschen" class="submit waves-effect waves-light btn col s12" />
					</form>
				</td>
			</tr>
		{% endfor %}
		{% endif %}
		</tbody>
		</table>
	</div>
	{% endfor %}
	{% endif %}
	<div id="timepickerContainer"></div>
</div>
<div id="modal1" class="modal no-autoinit">
	<div class="modal-content" id="modal-content1">
		<h4 id="modalHeader1">Legen Sie eine neue Veranstaltung an</h4>
		<div id="formcontainer1">
			<form action="/veranstalter/{{id}}" method="post">
				<label for="VName">Name der Veranstaltung:</label>
				<input id="VName" name="VName" type="text" maxlength="60"/>
				<input type="submit" value="Anlegen" class="submit waves-effect waves-light btn" />
			</form>
		</div>
	</div>
</div>

<!-- Festlegen des Charsets auf UTF-8 
<div id="modal3" class="modal no-autoinit">
	<div class="modal-content" id="modal-content3">
		<h4 id="modalHeader3">Legen Sie einen neuen Termin an</h4>
		<div id="formcontainer4">
			<form id="addForm" action="/addtermin" method="post">
				<label class="shortinput" for="TStart">Startzeit:</label>
				<label class="shortinput" for="TEnde">Endzeit:</label>
				<input class="shortinput timepicker no-autoinit"id="TStart" name="TStart" type="text" maxlength="8"/>
				<input class="shortinput timepicker no-autoinit"id="TEnde" name="TEnde" type="text" maxlength="8"/>
				<input name="pid" type="hidden" value="{{id}}"/>
				<input name="vid" id="vid" type="hidden" value=""/>
				<input type="submit" value="Anlegen und Start" class="submit waves-effect waves-light btn" />
			</form>
		</div>
	</div>
</div>
-->

<div id="modal3" class="modal no-autoinit">
	<div class="modal-content" id="modal-content3">
		<h4 id="modalHeader3">Legen Sie einen neuen Termin an</h4>
		<div id="formcontainer4">
			<form id="addForm" action="/addtermin" method="post">
				<label class="shortinput" for="TStart">Startzeit:</label>
				<label class="shortinput" for="TEnde">Endzeit:</label>
				<input class="shortinput timepicker no-autoinit" id="TStart" name="TStart" type="text" maxlength="8"/>
				<input class="shortinput timepicker no-autoinit" id="TEnde" name="TEnde" type="text" maxlength="8"/>
				<input name="pid" type="hidden" value="{{id}}"/>
				<input name="vid" id="vid" type="hidden" value=""/>
				<input type="submit" value="Anlegen und Start" class="submit waves-effect waves-light btn" />
			</form>
		</div>
	</div>
</div>

<div id="modal5" class="modal no-autoinit">
	<div class="modal-content" id="modal-content5">
		<h4 id="modalHeader5">Laden Sie einen neuen User ein.</h4>
		<div id="formcontainer5">
			<form action="/sendinvite" method="post">
				<label for="EMail">EMail des Empfängers:</label>
				<input id="EMail" name="EMail" type="text" maxlength="60"/>
				<label for="InvMess">Nachricht an den Empfänger:</label>
				<textarea id="InvMess" name="InvMess" class="materialize-textarea"></textarea>
				<input name="pid" type="hidden" value="{{id}}"/>
				<input name="pname" type="hidden" value="{{name[0]}}"/>
				<input type="submit" value="Einladen" class="submit waves-effect waves-light btn" />
			</form>
		</div>
	</div>
</div>

{% endblock %}