{% extends "base.html.twig" %}

{% block content %}
{% if candelete %}
<a href="/prof/{{info["dozent"]}}" class="waves-effect waves-light btn" id="wayback">Professor Panel</a>
{% endif %}
<div id="displayArea" class="container row">
	<div id="TopBar">
	<div class="col s3">{{info["vname"]}}</div>
	<div class="col s2">{{info["name"]}}</div>
	{% if info["datum"] == "9999-12-31" %}
	<div class="col s1">-</div>
	{% else %}
	<div class="col s1">{{info["datum"]}}</div>
	{% endif %}
	<div class="col s2">{{info["startzeit"]}} - {{info["endzeit"]}}</div>

	{% if candelete or ( eintragen and not angemeldet )%}
	<a href="#modal2" class= "col s2 waves-effect waves-light btn modal-trigger">Eintragen</a>
	{% endif %}

	{% if candelete and eintragen%}
	<a href="/stoptimer/{{id}}" id="time" class= "col s2 waves-effect waves-light btn"></a>
	<script>initTimer({{eintragzeit}});</script>
	{% elseif candelete %}
	<a href="/starttimer/{{id}}" class= "col s2 waves-effect waves-light btn">Starten</a>
	{% elseif eintragen %}
	<div class="col s2" id="time"></div>
	<script>initTimer({{eintragzeit}});</script>
	{% else %}
	<div class= "col s2">Keine Eintragung möglich</div>
	{% endif %}
	</div>
	
	{% if anwesende and candelete%}
	{% for row in anwesende %}
	<div>
		<div class="Eintragung col s12">
		<div class="col s3">{{row.matrikelnummer}}</div>
		<div class="col s3">{{row.name}}</div>
		<div class="col s3">{{row[2]}}</div>
		<div class="col s2">{{row[3]}}</div>
		{% if candelete %}
		<form action="/deletestud/{{id}}" method="post">
			<input name="anwid" type="hidden" value="{{ row.idanwesenheit }}"/>
			<input type="submit" value="X" class="submit waves-effect waves-light btn col s1" />
		</form>
		{% endif %}
		</div>
	{% endfor %}
		{% elseif angemeldet and not candelete%}
		<h1 class="col s12" id="message">Sie sind eingetragen!</h1>
		{% elseif not angemeldet and not candelete %}
		<h1 class="col s12" id="message">Sie sind nicht eingetragen!</h1>
	{% endif %}
</div>
<div id="modal2" class="modal no-autoinit">
	<div class="modal-content" id="modal-content">
		<h4 id="modalHeader">Tragen Sie sich für die Veranstaltung ein</h4>
		<div id="formcontainer">
			{% if terminview %}
			<form id="addForm" action="/termin/{{id}}" method="post">
			{% else %}
			<form id="addForm" action="/{{id}}" method="post">
			{% endif %}
				<label class="shortinput" for="MNr">Matrikelnummer:</label>
				<label class="shortinput" for="StudName">Name (optional):</label>
				<input class="shortinput" id="MNr" name="MNr" type="text" maxlength="10" value="{{matnr}}"/>
				<input class="shortinput"id="StudName" name="StudName" type="text" maxlength="60"/>
				<input type="submit" value="Eintragen" class="submit waves-effect waves-light btn" />
			</form>
		</div>
	</div>
</div>
</div>
{% if displaymessage %}
<script>notifyUser(1);</script>
{% endif %}
{% endblock %}